<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Page</title>
    <link rel="stylesheet" href="../css/minwook.css">
    <!-- jquery 미니멀 사용 -->
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
</head>
<body>
    <h1 data-text="NFT">NFT</h1>

    <script>
    $(document).ready(function(){
        $('body').delay(3000).fadeOut();   
    }); //메인페이지 로드 시간 확인 후 딜레이 시간 조정


    // window.onload = function() {
    //     $('body').fadeIn();
    //     main();
    // };

    // window.onbeforeunload = function() {
    //     $('body').fadeOut();
    // };
    </script>
</body>
</html>