<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="../css/mypage2.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="headLeft">
                <div class="headLeft_container">
                    <div class="logo-container">
                        <img src="../assets/logo/toplogo.svg">
                    </div>
                    <div class="headSearch-container">
                        <input type="search" placeholder="SEARCH">
                    </div>
                </div>
            </div>
            <div class="headRight">
                <div class="headRight_container">
                    <div>EXPLORE</div>
                    <div>CREATE</div>
                    <div class="mypage-container">
                        <a onclick="popMypage()" href="#"> <!--a href="#" 현재페이지; 안써도 되지만 손모양이 나와서 그냥 놔둠-->
                            <img src="../assets/icons/Emoji/happy,smile,happy face,smiley,emoji,smile dizzy,.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main">
            <div class="wrap_profile">
                <div class="profile">
                    <div class="profile_top">
                        <div class="profile_top_top"></div>
                        <div class="profile_top_bottom"></div>
                    </div>
                    <div class="profile_bottom">
                        <div class="top_line"></div>
                        <div class="middle_space"></div>
                        <div class="bottom_line"></div>
                    </div>
                </div>
            </div>

            <div class="wrap_main">
                <div class="mypage" id="mypage">
                    <script>
                        function popMypage(){
                            // var mypage = document.getElementById("mypage"); //선언 안해도 잘찾음 왜? 한개밖에 없어서? 꼭 선언해야하나?
                            var display = getComputedStyle(mypage).display; 
                            /*getComputedStyle():인자로 전달받은 요소의 모든 CSS 속성값을 담은 객체를 회신*/

                            if (display == "none"){
                                mypage.style.display = "block";
                            }
                            else{
                                mypage.style.display = "none";
                            }
                        }    
                    </script>
                    <div class="mypage_top"></div>
                    <div class="mypage_bottom"></div>
                </div>
                <div class="wrap_goods">
                    <div class="wrap_goods2">
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="footerLeft">
                <div class="footerLeft_container">
                    <div class="vault">
                        <p>VAULT
                        <br>THE KLAYTN NETWORK'S FIRST AND LARGEST
                        <br>DIGITAL MARKETPLACE FOR CRYPTO COLLECTIBLES
                        <br>AND NON-FUNGIBLE TOKENS (NFTs).
                        <br>BUY, SELL, AND DISCOVER EXCLUSIVE DIGITAL ITEMS.</p>
                    </div>
                    <div class="suggestions">
                        <p>SUGGESTIONS
                        <br>DISCORD COMMUNITY
                        <br>BLOG
                        <br>DOCS
                        <br>NEWSLETTER
                        </p>
                    </div>
                    <div class="resources">
                        <p>resources
                        <br>HELP CENTER
                        <br>PLATFORM STATUS
                        <br>PARTNERS
                        <br>GAS-FREE MARKETPLACE
                        </p>
                    </div>
                    <div class="company">
                        <p>COMPANY
                        <br>ABOUT
                        <br>CAREERS
                        </p>
                    </div>
                </div>
            </div>
            <div class="footerRight">
                <div class="footerRight_container">
                    <div class="empty_space"></div>
                    <div class="join_community">
                        <div id="join_p">Join THE COMMUNITY</div>
                        <div id="join_i">
                            <div><img src="../assets/icons/Twitter - Negative.svg"></div>
                            <div><img src="../assets/icons/Discord - Negative.svg"></div>
                            <div><img src="../assets/icons/Instagram - Negative.svg"></div>
                            <div><img src="../assets/icons/Telegram - Negative.svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
</body>
</html>