<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project_page</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/project_page.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="headLeft">
                <div class="headLeft_container">
                    <div class="logo-container">
                        <img src="../assets/logo/toplogo.svg">
                    </div>
                    <div class="headSearch-container">
                        <input type="search" placeholder="SEARCH" id="searching" onfocus="this.placeholder=''" onblur="this.placeholder='SEARCH'">
                    </div>
                </div>
            </div>
            <div class="headRight">
                <div class="headRight_container">
                    <div id="menu">EXPLORE</div>
                    <div id="menu">CREATE</div>
                    <div id="menu">Auction</div>
                    <div class="mypage-container">
                        <a>
                            <img src="../assets/icons/Emoji/happy,smile,happy face,smiley,emoji,smile dizzy,.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main" id="dogeclubmain">
            <div class="dogeclub-container">
                <div class="dogeclubhd">
                    <div class="dogetitle">
                        "doge sound club"
                    </div>
                    <div class="windflowhd">
                        <img id="windflow" src="../assets/images/windflow.png">
                    </div>
                </div>
                <div class="dogecontent1">
                    <div class="dogeinform" id="dogeinform1">
                        "10k items"
                    </div>
                    <div class="dogeinform" id="dogeinform2">
                        "1.4k owners"
                    </div>
                    <div class="dogeinform" id="dogeinform3">
                        "10k floor price"
                    </div>
                    <div class="dogeinform" id="dogeinform4">
                        "100k volume trade"
                    </div>
                </div>
                <div class="dogecontent2">
                    <div class="dogedescrip">
                        "Nulla Lorem mollit cupidatat irure.<br>
                        Laborum magna nulla duis ullamco<br>
                        cillum dolor. Voluptate exercitation incididunt aliquip deserunt<br>
                        reprehenderit elit laborum.<br>
                        Nulla Lorem mollit cupidatat irure.<br>
                        Laborum magna nulla duis ullamco<br>
                        cillum dolor. Voluptate exercitation incididunt aliquip deserunt<br>
                        reprehenderit elit laborum."
                    </div>
                    <div class="windflowft">
                        <img id="windflow" src="../assets/images/windflow.png">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="footerLeft">
                <div class="footerLeft_container">
                    <div class="vault">
                        <p>VAULT
                        <br>THE KLAYTN NETWORK'S FIRST AND LARGEST
                        <br>DIGITAL MARKETPLACE FOR CRYPTO COLLECTIBLES
                        <br>AND NON-FUNGIBLE TOKENS (NFTs).
                        <br>BUY, SELL, AND DISCOVER EXCLUSIVE DIGITAL ITEMS.</p>
                    </div>
                    <div class="suggestions">
                        <p>SUGGESTIONS
                        <br>DISCORD COMMUNITY
                        <br>BLOG
                        <br>DOCS
                        <br>NEWSLETTER
                        </p>
                    </div>
                    <div class="resources">
                        <p>resources
                        <br>HELP CENTER
                        <br>PLATFORM STATUS
                        <br>PARTNERS
                        <br>GAS-FREE MARKETPLACE
                        </p>
                    </div>
                    <div class="company">
                        <p>COMPANY
                        <br>ABOUT
                        <br>CAREERS
                        </p>
                    </div>
                </div>
            </div>
            <div class="footerRight">
                <div class="footerRight_container">
                    <div class="empty_space"></div>
                    <div class="join_community">
                        <div id="join_p">Join THE COMMUNITY</div>
                        <div id="join_i">
                            <div><img src="../assets/icons/Twitter - Negative.svg"></div>
                            <div><img src="../assets/icons/Discord - Negative.svg"></div>
                            <div><img src="../assets/icons/Instagram - Negative.svg"></div>
                            <div><img src="../assets/icons/Telegram - Negative.svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
</body>
</html>