<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup_page</title>
    <link rel="stylesheet" href="/front/css/common.css">
    <link rel="stylesheet" href="/front/css/signINpage.css">
</head>

<body>
    <header>
        <div class="header">
            <div class="headLeft">
                <div class="headLeft_container">
                    <div class="logo-container">
                        <img src="/front/assets/logo/toplogo.svg">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main" id="signINmain">
            <div class="signIn-container">
                <div class="signInform1"> 
                    <span>ID</span>
                    <!-- <div id="questionmark"><img src=""></div> -->
                    <!-- 인간적으로 빨간별은 봐줍시다...;; -->
                </div>
                <div class="signInform2">
                    <input id="signId" type="text" placeholder=" email-address">
                </div>
                <div class="signInform1"> 
                    <span>Name</span>
                    <!-- <img id="questionmark" src=""> 사이즈조절 어케하징...마우스올리면 대소문자혼합8자이상 이딴거 떠야할것같은데,,,하-->
                    <!-- <img id="questionmark" src=""> -->
                </div>
                <div class="signInform2">
                    <input id="signName" type="text" placeholder=" Text input">
                </div>
                <div class="signInform1"> 
                    <span>Password</span>
                    <!-- <img id="questionmark" src=""> -->
                </div>
                <div class="signInform2" >
                    <input id="signPassword" type="text" placeholder=" Text input">
                </div>
                <div class="signInform1"> 
                    <span>Re-Password</span> 
                    <!-- <img id="questionmark" src=""> -->
                </div>
                <div class="signInform2">
                    <input id="signRe_password" type="text" placeholder=" Text input">
                </div>
                <div class="signInform3"> 
                    <input class="submitButt" id="signIN_submit" type ="submit" value="Submit">
                    <!-- submit폰트? 그림자하양에 글씨검정 찾아야... -->
                </div>
                
            </div> 
        </div>
    </main>
</body>
</html>