<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginpage</title>
</head>
<body>
    <header>
        <div>Vault</div>
    </header> 
    <main>
        <form action="/" method="post">
        <label for="user_id">ID</label>
        <input type="text" id="user_id" name="user_id">
        <label for="user_id">Password</label>
        <input type="password" id="user_pw" name="user_pw">
        <input type="submit">
        </form>
    </main>
</body>
</html>