html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Explore
        link(rel="stylesheet" href="page.css")
    body 
        header 
            div.header
                div.headLeft
                    div#logo Vault
                    div#headSearch search
                div.headRight
                    div#headicon1 icon
                    div#headicon2 icon
        
        main.main 
            div.Pg2Category
                div#Pg2Category1 Filter
                div#Pg2Category2 Status
                div#Pg2Category3
                    div Buy Now
                    div On Auct
                    div New
                    div Offered
                div#Pg2Category4 Price
                div#Pg2Category5
                    div U.S. Dollar
                    div Min
                    div to
                    div Max
                div#Pg2Category6 Collection
                div#Pg2Category7 Chains
                div#Pg2Category8 Categories
                div#Pg2Category9 On Sale In
            div.Pg2Content
                div.Pg2ContentView
                    div#Pg2ContentView1 1k result.
                    div#Pg2ContentView2
                        div
                            input(type="text" placeholder="All items")
                        div
                            input(type="text" placeholder="Sort by")
                        div 줄
                        div 격자
                div.Pg2mainContent
                    div 메인  
                    div 메인  
                    div 메인  
        footer 