<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connectpage</title>
</head>
<body>
    <header>
        <div>Vault</div>
    </header>    
    <main>
        <form action="/connectpage" method="GET"></form>
        <div>테스트페이지</div>
    </main>
</body>
</html>