<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>explore_pgae</title>
    <link rel="stylesheet" href="../css/explore_page.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/mypage.css">
    <script src="./myPagePop.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="headLeft">
                <div class="headLeft_container">
                    <div class="logo-container">
                        <a href="/"><img src="../assets/logo/toplogo.svg"></a>
                    </div>
                    <form action="/" method="get"></form>
                        <div class="headSearch-container">
                            <input type="search" placeholder="SEARCH">
                        </div>
                    </form>
                </div>
            </div>
            <div class="headRight">
                <div class="headRight_container">
                    <div><a href="/explore">EXPLORE</a></div>
                    <div>
                        <% if(!loginState) { %>
                        <a href="/login">CREATE </a>
                        <% } else if(loginState == "okay") { %>
                        <a href="/board/create">CREATE</a>
                        <% } %>
                    </div>
                    <div><a href="/board">AUCTION</a></div>

                    <div>
                        <% if(!loginState) { %>
                        <a href="/login">MYPAGE</a>
                        <% } else if(loginState == "okay") { %>
                        <a href="/mypage">MYPAGE</a>
                        <% } %>   
                    </div>

                    <div class="mypage-container">
                        <% if(!loginState) { %>
                        <a href="/login"><img src="../assets/icons/Emoji/happy,smile,happy face,smiley,emoji,smile dizzy,.svg"></a>
                        <% } else if(loginState == "okay") { %>
                        <img onclick="popMypage()" href="#" src="../assets/icons/Emoji/happy,smile,happy face,smiley,emoji,smile dizzy,.svg">
                        </div>
                        <% } %>
                    </div>
                    <div class="mypage" id="mypage">
                        <div class="wrap_mypage">
                            <div class="profile_img"></div>
                            <div class="mypage_top"></div>
                            <div class="mypage_bottom">
                                <div>vault</div>
                                <div>$490.51</div>

                                
                                <form action="/logout" method="POST">
                                    <button type="submit">로그아웃</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main">
            <div class="wrap_nav">
                <div class="nav">
                    <div class="nav_bar">filter</div> <!-- 8 -->
                    <div class="nav_bar">status</div> <!-- 8 -->
                    <div class="nav_category1">       <!-- 20 -->
                        <div>New</div>
                        <div>Buy now</div>
                        <div>End soon</div>
                    </div>
                    <div class="nav_bar">price</div> <!-- 8 -->
                    <div class="nav_category2">      <!-- 6 -->
                        <div>min to max</div>
                    </div>
                    <div class="nav_bar">collection</div> <!-- 8 -->
                    <div class="nav_category3">          <!-- 17 -->
                        <div>dogesoundclub</div>
                        <div>emates</div>
                        <div>joseondynasty</div>
                    </div>
                    <div class="nav_bar">categories</div> <!-- 10 -->
                    <div class="nav_category4">           <!-- 10 -->
                        <div>Pictureprofile</div>
                        <div>PlaytoEarn</div>
                        <div>Art</div>
                        <div>Collectibles</div>
                    </div>
                </div>
            </div>
            <div class="wrap_main">
                <div class="wrap_goods">
                    <div class="wrap_goods2">

                        <% data.forEach(function (item, index) { %>
                        <div class="goods">
                            <div class="img_area">
                                <img src="/work/views/assets/images/man.png">
                            </div>
                            <div class="info_area">
                                <div><a href=/board/page/<%= item.id%>><%= item.title %></a></div>
                                <div><%= item.price %></div>
                            </div>
                        </div>
                        <% }); %>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="footerLeft">
                <div class="footerLeft_container">
                    <div class="vault">
                        <p>VAULT
                        <br>THE KLAYTN NETWORK'S FIRST AND LARGEST
                        <br>DIGITAL MARKETPLACE FOR CRYPTO COLLECTIBLES
                        <br>AND NON-FUNGIBLE TOKENS (NFTs).
                        <br>BUY, SELL, AND DISCOVER EXCLUSIVE DIGITAL ITEMS.</p>
                    </div>
                    <div class="suggestions">
                        <p>SUGGESTIONS
                        <br>DISCORD COMMUNITY
                        <br>BLOG
                        <br>DOCS
                        <br>NEWSLETTER
                        </p>
                    </div>
                    <div class="resources">
                        <p>resources
                        <br>HELP CENTER
                        <br>PLATFORM STATUS
                        <br>PARTNERS
                        <br>GAS-FREE MARKETPLACE
                        </p>
                    </div>
                    <div class="company">
                        <p>COMPANY
                        <br>ABOUT
                        <br>CAREERS
                        </p>
                    </div>
                </div>
            </div>
            <div class="footerRight">
                <div class="footerRight_container">
                    <div class="empty_space"></div>
                    <div class="join_community">
                        <div id="join_p">Join THE COMMUNITY</div>
                        <div id="join_i">
                            <div><img src="../assets/icons/Twitter - Negative.svg"></div>
                            <div><img src="../assets/icons/Discord - Negative.svg"></div>
                            <div><img src="../assets/icons/Instagram - Negative.svg"></div>
                            <div><img src="../assets/icons/Telegram - Negative.svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
</body>
</html>