<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Refresh" content="3;url=./main.html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/landing.css">
</head>
<body>
    <main>
        <div class="landingmain">
            <div class="vaultlogobox">
                <img id="vaultlogo" src="assets/logo/toplogo.svg">
            </div>
            <div class="clickon">
                <div class="signIn">
                    Sign in
                </div>
                <div class="logIn">
                    Log in
                </div>
            </div>
        </div>
    </main>
</body>
</html>