<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>Main page</h2>
    </header>
    <main>
        <form action="/" method="get">
            <!-- <label for="message"></label> -->
        </form>
        <p>lalalal</p><br>
        <a href="./signup">Sign up!</a><br>
        <a href="./loginpage">Login</a><br>
        <a href="./board">create board!</a>
        <<a href="/connectTestPage">테스트연결</a>
        
    </main>
</body>
</html>