<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <header>
        <div>Vault</div>
    </header>
    <main>
        <form action="/signupinfo" method="POST">
            <label for="user_id"></label>
            <input type="text" id="user_id" name="user_id" placeholder="email을입력하시오">
            <label for="user_name"></label>
            <input type="text" id="user_name" name="user_name" placeholder="아이디를입력하시오">
            <label for="user_pw"></label>
            <input type="password" id="user_pw" name="user_pw" placeholder="비밀번호를입력하시오">
            <label for="user_repw"></label>
            <input type="password" id="user_repw" name="user_repw" placeholder="비밀번호를 다시 입력하시오">
            <input type="submit">
        </form>
    </main>
    <script>
           //-     var reg = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$";
        //-     var txt = "aaaa";
        //-     if( !reg.user_pw(txt)  ) {
        //-         alert("비밀번호 정규식 규칙 위반!!");
        //-         return false;
        //-     }
    </script>
</body>
</html>     