<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/signINpage.css">
</head>
<body>
  <header>
    <div class="header">
      <div class="headLeft">
        <div class="headLeft_container">
          <div class="logo-container">
            <a href="/"><img src="../assets/logo/toplogo.svg"></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="main" id="signINmain">
      <div class="signIn-container">
        <form action="/signupinfo" method="POST">
          <div class="signInform1"> 
            <label for="user_id">ID</label><div id="idChk" style="display: none;" onk>Check your email</div>
              <!-- <div id="questionmark"><img src=""></div> -->
              <!-- 인간적으로 빨간별은 봐줍시다...;; -->
          </div>
          <div class="signInform2"> <!--CSS 아이디 수정해야함 이전id="signId"-->
            <input type="text" id="user_id" name="user_id" placeholder=" email-address">
          </div>
          <div class="signInform1"> 
            <label for="user_name">NAME</label><div id="nameChk" style="display: none;">Check your ID</div>
            <!-- <img id="questionmark" src=""> 사이즈조절 어케하징...마우스올리면 대소문자혼합8자이상 이딴거 떠야할것같은데,,,하-->
            <!-- <img id="questionmark" src=""> -->
          </div>
          <div class="signInform2"> <!--CSS 아이디 수정해야함 이전id="signName"-->
            <input type="text" id="user_name" name="user_name" placeholder=" Text input">
          </div>
          <div class="signInform1"> 
            <label for="user_pw">PASSWORD</label><div id="pwChk" style="display: none;">Check your password</div>
            <!-- <img id="questionmark" src=""> -->
          </div>
          <div class="signInform2" > <!--CSS 아이디 수정해야함 이전id="signPassword"-->
            <input type="password" id="user_pw" name="user_pw" placeholder=" Text input">
          </div>
          <div class="signInform1"> 
            <label for="user_repw">RE-PASSWORD</label><div id="rePwChk" style="display: none;">Check your password</div>
            <!-- <img id="questionmark" src=""> -->
          </div>
            <div class="signInform2"> <!--CSS 아이디 수정해야함 이전id="signRe_password"-->
            <input type="password" id="user_repw" name="user_repw" placeholder=" Text input">
          </div>
          <div class="signInform3">
            <input type="submit" class="submitButt">
            <input type="button" >
            <!-- <input class="submitButt" id="signIN_submit" type ="submit" value="Submit"> -->
            <!-- submit폰트? 그림자하양에 글씨검정 찾아야... -->
          </div>
        </form>
      </div> 
    </div>
  </main>
  <script>
  // 	function checkIt(){
	// 	  var email = userinput.user_id.value
	// 	  var exptext = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

	// 		if(exptext.test(email)==false){

	// 		//이메일 형식이 알파벳+숫자@알파벳+숫자.알파벳+숫자 형식이 아닐경우			

	// 		alert("이메일형식이 올바르지 않습니다.");

	// 		userinput.user_id.focus();

	// 	return false;
	// 		}
		
	// }


    // if(user_pw === !user_repw){


    //   if(!user_id.match(emailRegExp) != null){
    //     document.getElementById("nameChk").style.display = "none";
    //     document.getElementById("nameChk").style.color = "red";
    //   } else {
    //     document.getElementById("nameChk").style.display = "block";
    //     return true;
    //   }
    // }
    
    

    
    //-     var reg = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$";
    //-     var txt = "aaaa";
    //-     if( !reg.user_pw(txt)  ) {
    //-         alert("비밀번호 정규식 규칙 위반!!");
    //-         return false;
    //-     }
  </script>
</body>
</html>