html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title loginpage

    body 
        header 
            div Vault 
        main 
            form(action="/logininfo" method="post")
                div 
                    div ID 
                    input(name = "user_id" type = "text" id = "user_id")
                div 
                    div Password
                    input(name = "user_pw" type = "password" id = "user_pw")
                br
                input(type="submit")