html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Signup Page
        link(rel="stylesheet" href="loginjoin.css")
    body 
        header 
            div Vault 
        main 
            div
                form(action="/info" method="POST")
                    div 
                        div ID 
                        input(name = "user_id" type = "text" require placeholder = "") 
                    div 
                        div Name
                        input(name = "user_name" type = "text" require placeholder = "") 
                    div 
                        div Password 
                        input(name = "user_pw" type = "password" require placeholder = "")
                    div 
                        div (Re-password)
                        input(name = "user_repw" type = "password" require placeholder = "")
                    br
                    input(type="submit")