<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/main.css">
  </head>

  <body>
    <header>
      <div class="header">
          <div class="headLeft">
              <div class="headLeft_container">
                  <div class="logo-container">
                      <a href="./main_page.html"><img src="../assets/logo/toplogo.svg"></a>
                  </div>
                  <div class="headSearch-container">
                      <input type="search" placeholder="SEARCH">
                  </div>
              </div>
          </div>
          <div class="headRight">
              <div class="headRight_container">
                  <div>EXPLORE</div>
                  <div>CREATE</div>
                  <div>Auction</div>
                  <div class="mypage-container">
                      <a>
                          <img src="../assets/icons/Emoji/happy,smile,happy face,smiley,emoji,smile dizzy,.svg face,smiley,emoji,smile dizzy,.svg">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <main>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
            <div class="user-name">안녕하세요 {{user.nick}}님</div>
            <div class="user-money">보유 자산: {{user.money}}원</div>
            <input type="hidden" id="my-id" value="user.id">
            <a href="/auth/logout" id="logout" class="btn">로그아웃</a>
            <a href="/good" id="register" class="btn">상품 등록</a>
            <a href="/list" id="list" class="btn">낙찰 내역</a>
          {% else %}
            <form action="/auth/login" id="login-form" method="post">
              <div class="input-group">
                <label for="email">이메일</label>
                <input type="email" id="email" name="email" required autofocus>
              </div>
              <div class="input-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
              </div>
              <a href="/join" id="join" class="btn">회원가입</a>
              <button id="login" class="btn" type="submit">로그인</button>
            </form>
          {% endif %}
        </div>
  </main>
        {% block good %}
        {% endblock %}
      </div>
      {% block content %}
      {% endblock %}
    </div>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
            <footer>
              <div class="footer">
                  <div class="footerLeft">
                      <div class="footerLeft_container">
                          <div class="vault">
                              <p>VAULT
                              <br>THE KLAYTN NETWORK'S FIRST AND LARGEST
                              <br>DIGITAL MARKETPLACE FOR CRYPTO COLLECTIBLES
                              <br>AND NON-FUNGIBLE TOKENS (NFTs).
                              <br>BUY, SELL, AND DISCOVER EXCLUSIVE DIGITAL ITEMS.</p>
                          </div>
                          <div class="suggestions">
                              <p>SUGGESTIONS
                              <br>DISCORD COMMUNITY
                              <br>BLOG
                              <br>DOCS
                              <br>NEWSLETTER
                              </p>
                          </div>
                          <div class="resources">
                              <p>resources
                              <br>HELP CENTER
                              <br>PLATFORM STATUS
                              <br>PARTNERS
                              <br>GAS-FREE MARKETPLACE
                              </p>
                          </div>
                          <div class="company">
                              <p>COMPANY
                              <br>ABOUT
                              <br>CAREERS
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="footerRight">
                      <div class="footerRight_container">
                          <div class="empty_space"></div>
                          <div class="join_community">
                              <div id="join_p">Join THE COMMUNITY</div>
                              <div id="join_i">
                                  <div><img src="/front/assets/icons/Twitter - Negative.svg"></div>
                                  <div><img src="/front/assets/icons/Discord - Negative.svg"></div>
                                  <div><img src="/front/assets/icons/Instagram - Negative.svg"></div>
                                  <div><img src="/front/assets/icons/Telegram - Negative.svg"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </footer>
  </body>
</html>
