{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="list-timeline">
      <div class="h2">
        <h2>경매 낙찰 목록</h2>
      </div>
      <div class="table">
        <table id="good-list" class="good-list2">
          <tr>
            <th>상품명</th>
            <th>사진</th>
            <th>낙찰가</th>
          </tr>
          {% for good in goods %}
            <tr>
              <td>{{good.name}}</td>
              <td>
                <img src="/img/{{good.img}}">
              </td>
              <td>{{good.Auctions[0].bid}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
