.main{
    font-family: 'CherryBomb-Regular';
    font-size: 1.4em;
}

.wrap_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main_left {
    display: flex;
    width: 70%;
    height: 100%;
}

.main_left div{
    flex: 1;
}

.main_left_01{
    height: 60%;
}

.wrap01{
    width: 100%;
    height: 100%;
}

.wrap01_top{
    width: 100%;
    height: 20%;
    background: #E5E5E5;
    border-top: 8px solid black;
    border-left: 8px solid black;    
    border-bottom: 8px solid black;
    padding: 4%;      
}

.wrap01_middle{
    width: 100%;
    height: 60%;
    background: #55B8FF;
    border-left: 8px solid black;
    border-bottom: 8px solid black;  
    background-image: url("../assets/images/RTFKT\ CLONE\ X\ +\ Murakami.png");  
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap01_bottom{
    width: 100%;
    height: 20%;
    background: #E5E5E5;
    border-left: 8px solid black;
    border-bottom: 8px solid black;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
    font-size: 1.5em;
    text-align: center;   
}

#remainingtime, #clockimg {
    background: #E5E5E5;
}

.main_left_02{
    height: 70%;
}

.wrap02{
    width: 100%;
    height: 100%;
}

.wrap02_top {
    width: 100%;
    height: 80%;
    background: #55B8FF;
    border: 8px solid black;
}

.swiper-slide {
    height: 60px;
}

.wrap02_top img{
    width: 100%;
    height: 100%;
}

.wrap02_bottom {
    width: 100%;
    height: 20%;
    background: #EEEEEE;
    border-left: 8px solid black;
    border-bottom: 8px solid black;
    border-right: 8px solid black;
    /* display: flex;
    align-items: center;
    justify-self: space-between; */
    padding: 5%;
    font-size: 1.5em;
    text-align: center; 
}

#authorname {
    background: #EEEEEE;
}

#contect {
    padding-left: 50px;
    background: #EEEEEE;
}

.main_left_03{
    height: 60%;
}

.wrap03{
    width: 100%;
    height: 100%;
}

.wrap03_top {
    width: 100%;
    height: 80%;
    background: #55B8FF;
    border-top: 8px solid black;    
    border-bottom: 8px solid black;
    border-right: 8px solid black;    
    background-image: url("../assets/images/mainimage.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap03_bottom {
    width: 100%;
    height: 20%;
    background: #E5E5E5;
    border-right: 8px solid black;    
    border-bottom: 8px solid black;
    padding: 4%;
    font-size: 1.5em;
    text-align: center; 
}

.main_empty {
    width: 20%;
    height: 100%;
}

.main_right {
    width: 20%;
    height: 100%;
}

.wrap_creator{
    width: 100%;
    height: 80%;
}

.creator_bar{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.creator_bar_left{
    border: 8px solid black;
    width: 90%;
    height: 100%;
    font-family: 'CherryBomb-Regular';
    font-size: 0.8em;
    /* padding: 1%; */
    text-align: center;
    background-repeat: no-repeat;
}

.creator_bar_right{
    width: 10%;
    height: 100%;
}

.creator_bar_right img{
    width: 100%;
    height: 70%;
}

.creator_list{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.creator_list_left {
    background-color: #55B8FF;
    width: 90%;
    height: 100%;
    border-right: 8px solid black;
    border-left: 8px solid black;
    background-repeat: no-repeat;
}

.creator_list_right{
    width: 10%;
    height: 100%;
}

#list1 {
    background-image: url("../assets/images/creategroup1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#list2 {
    background-image: url("../assets/images/creategroup1.png");
    background-repeat: no-repeat;
    background-size: contain;
}