html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Creator Page
        link(rel="stylesheet" href="page.css")
    body 
        header 
            div.header
                div.headLeft
                    div#logo Vault
                    div#headSearch search
                div.headRight
                    div#headicon1 icon
                    div#headicon2 icon
        
        main.main 
            div.InfluProfiBox
                div Influe photo
                div Minkyung Cho 
                    br
                    | Illustrator & Animator
                div Ansan, Korea
                    br
                    | hts://www.minkyungcho.co
                div Follow
                div.InfluProfCont
                    div.InfluProfCont1
                        div NFT
                        div 3,324
                    div.InfluProfCont2
                        div Rareity
                        div Epic
                    div.InfluProfCont3
                        div NFFollowerT
                        div 12k
                    div.InfluProfCont4
                        div Follow
                        div 5
                div instagram
            div.InfluContent
                div.InfluContCategory
                    div Work
                    div On Sale
                div work.....
        footer 